{% extends 'index.html' %}

{% block container %}
<div class="row">
	<div class="col-md-3"></div>
<div class="col-md-3 mt-3">
	<table class="table">
		<tr>
			<td><b>Nombre</b></td>
			<td>{{lobo.nombre}}</td>
		</tr>
		<tr>
			<td><b>Raza</b></td>
			<td>{{lobo.raza}}</td>
		</tr>
		<tr>
			<td><b>Habitad</b></td>
			<td>{{lobo.habitad}}</td>
		</tr>
		<tr>
			<td><b>Color</b></td>
			<td>{{lobo.color}}</td>
		</tr>
		<tr>
			<td><b>Edad</b></td>
			<td>{{lobo.edad}} años</td>
		</tr>
		<tr>
			<td><b>Size</b></td>
			<td>{{lobo.size}} m</td>
		</tr>
		<tr>
			<td><b>Peso</b></td>
			<td>{{lobo.peso}} kg</td>
		</tr>
		<tr>
			<td><b>Registro</b></td>
			<td>{{lobo.date}}</td>
		</tr>		
		<tr>
			<td><b></b></td>
			<td><a href="{% url 'Lobos:Lista'%}">Regresar</a></td>
		</tr>	
</table>
</div>	
</div>


{% endblock %}