{% extends 'index.html' %}

{% block container %}
<div class="row">
	<div class="col-md-3"></div>
<div class="col-md-3 mt-3">
	<table class="table">
		<tr>
			<td><b>Nombre</b></td>
			<td>{{aguila.nombre}}</td>
		</tr>
		<tr>
			<td><b>Raza</b></td>
			<td>{{aguila.raza}}</td>
		</tr>
		<tr>
			<td><b>Habitad</b></td>
			<td>{{aguila.habitad}}</td>
		</tr>
		<tr>
			<td><b>Color</b></td>
			<td>{{aguila.color}}</td>
		</tr>
		<tr>
			<td><b>Edad</b></td>
			<td>{{aguila.edad}} años</td>
		</tr>
		<tr>
			<td><b>Velocidad</b></td>
			<td>{{aguila.velocidad}} km/h</td>
		</tr>
		<tr>
			<td><b>Size</b></td>
			<td>{{aguila.size}} cm</td>
		</tr>
		<tr>
			<td><b>Alas Size</b></td>
			<td>{{aguila.sizeAlas}} m</td>
		</tr>
		<tr>
			<td><b>Peso</b></td>
			<td>{{aguila.peso}} kg</td>
		</tr>
		<tr>
			<td><b>Registro</b></td>
			<td>{{aguila.date}}</td>
		</tr>		
		<tr>
			<td><b></b></td>
			<td><a href="{% url 'Aguilas:Lista'%}">Regresar</a></td>
		</tr>	
</table>
</div>	
</div>


{% endblock %}