{% extends 'index.html' %}

{% block container %}
<div class="row">
	<div class="col-md-3"></div>
<div class="col-md-3 mt-3">
	<table class="table">
		<tr>
			<td><b>Nombre</b></td>
			<td>{{gato.nombre}}</td>
		</tr>
		<tr>
			<td><b>Raza</b></td>
			<td>{{gato.raza}}</td>
		</tr>
		<tr>
			<td><b>Hogar</b></td>
			<td>{{gato.hogar}}</td>
		</tr>
		<tr>
			<td><b>Color</b></td>
			<td>{{gato.color}}</td>
		</tr>
		<tr>
			<td><b>Edad</b></td>
			<td>{{gato.edad}} años</td>
		</tr>
		<tr>
			<td><b>size</b></td>
			<td>{{gato.size}} cm</td>
		</tr>
		<tr>
			<td><b>Peso</b></td>
			<td>{{gato.peso}} kg</td>
		</tr>
		<tr>
			<td><b>Registro</b></td>
			<td>{{gato.date}}</td>
		</tr>		
		<tr>
			<td><b></b></td>
			<td><a href="{% url 'Gatos:Lista'%}">Regresar</a></td>
		</tr>	
</table>
</div>	
</div>


{% endblock %}