{% extends 'index.html' %}

{% block container %}
<table class="table">
	<th>Nombre</th>
	<th>Raza</th>
	<th>Registro</th>
	<th></th>
	<th></th>
	{% for dragon in object_list %}
		<tr>
			<td>{{dragon.nombre}}</td>
			<td>{{dragon.raza}}</td>
			<td>{{dragon.date}}</td>
			<td><a href="{% url 'Dragones:gDetalles' dragon.id %}">Detalles</a></td>
			<td><a href="{% url 'Dragones:gActualizar' dragon.id %}">Actualizar</a></td>
			<td><a href="{% url 'Dragones:gEliminar' dragon.id %}">Eliminar</a></td>
		</tr>
	{% endfor %}
</table>
			<a class="btn btn-outline-dark" href="{% url 'Dragones:gCrear'%}">Nuevo</a>

{% endblock %}
