{% extends 'index.html' %}

{% block container %}
<div class="row">
	<div class="col-md-3"></div>
<div class="col-md-3 mt-3">
	<table class="table">
		<tr>
			<td><b>Nombre</b></td>
			<td>{{caballo.nombre}}</td>
		</tr>
		<tr>
			<td><b>Raza</b></td>
			<td>{{caballo.raza}}</td>
		</tr>
		<tr>
			<td><b>Hogar</b></td>
			<td>{{caballo.hogar}}</td>
		</tr>
		<tr>
			<td><b>Edad</b></td>
			<td>{{caballo.edad}} años</td>
		</tr>
		<tr>
			<td><b>Altura</b></td>
			<td>{{caballo.altura}} m</td>
		</tr>
		<tr>
			<td><b>Ancho</b></td>
			<td>{{caballo.ancho}} m</td>
		</tr>
		<tr>
			<td><b>Registro</b></td>
			<td>{{caballo.date}}</td>
		</tr>		
		<tr>
			<td><b></b></td>
			<td><a href="{% url 'Caballos:Lista'%}">Regresar</a></td>
		</tr>	
</table>
</div>	
</div>


{% endblock %}