{% extends 'index.html' %}

{% block container %}
<div class="row">
	<div class="col-md-3"></div>
<div class="col-md-3 mt-3">
	<table class="table">
		<tr>
			<td><b>Nombre</b></td>
			<td>{{dragon.nombre}}</td>
		</tr>
		<tr>
			<td><b>Raza</b></td>
			<td>{{dragon.raza}}</td>
		</tr>
		<tr>
			<td><b>Color</b></td>
			<td>{{dragon.color}}</td>
		</tr>
		<tr>
			<td><b>Edad</b></td>
			<td>{{dragon.edad}} años</td>
		</tr>
		<tr>
			<td><b>Peso</b></td>
			<td>{{dragon.peso}} kg</td>
		</tr>
		<tr>
			<td><b>Registro</b></td>
			<td>{{dragon.date}}</td>
		</tr>		
		<tr>
			<td><b></b></td>
			<td><a href="{% url 'Dragones:Lista'%}">Regresar</a></td>
		</tr>	
</table>
</div>	
</div>


{% endblock %}