{% extends 'index.html' %}

{% block container %}
<table class="table">
	<th>Nombre</th>
	<th>Raza</th>
	<th>Registro</th>
	<th></th>
	<th></th>
	{% for conejo in object_list %}
		<tr>
			<td>{{conejo.nombre}}</td>
			<td>{{conejo.raza}}</td>
			<td>{{conejo.date}}</td>
			<td><a href="{% url 'Conejos:gDetalles' conejo.id %}">Detalles</a></td>
			<td><a href="{% url 'Conejos:gActualizar' conejo.id %}">Actualizar</a></td>
			<td><a href="{% url 'Conejos:gEliminar' conejo.id %}">Eliminar</a></td>
		</tr>
	{% endfor %}
</table>
			<a class="btn btn-outline-dark" href="{% url 'Conejos:gCrear'%}">Nuevo</a>

{% endblock %}
