  .fnt-color{
  color: #fff;
}

.bg-jumbotron{
	 background-size: auto;
	 background-repeat: no-repeat;
	height: 220px;

}

.bg-tns{
	opacity: 0.8;
}

.bg-color{
	background-color: #e3e3e3;
}

.st-footer{
	height: 200px;
	color: white;
	background-color: #001f30;
}

.fnt-a{
font-weight: bold;
color:#333;
}