{% extends 'index.html' %}

{% block container %}
<table class="table">
	<th>Nombre</th>
	<th>Raza</th>
	<th>Registro</th>
	<th></th>
	<th></th>
	{% for pato in object_list %}
		<tr>
			<td>{{pato.nombre}}</td>
			<td>{{pato.raza}}</td>
			<td>{{pato.date}}</td>
			<td><a href="{% url 'Patos:gDetalles' pato.id %}">Detalles</a></td>
			<td><a href="{% url 'Patos:gActualizar' pato.id %}">Actualizar</a></td>
			<td><a href="{% url 'Patos:gEliminar' pato.id %}">Eliminar</a></td>
		</tr>
	{% endfor %}
</table>
			<a class="btn btn-outline-dark" href="{% url 'Patos:gCrear'%}">Nuevo</a>

{% endblock %}
