{% extends 'index.html' %}

{% block container %}
<table class="table">
	<th>Nombre</th>
	<th>Raza</th>
	<th>Registro</th>
	<th></th>
	<th></th>
	{% for caballo in object_list %}
		<tr>
			<td>{{caballo.nombre}}</td>
			<td>{{caballo.raza}}</td>
			<td>{{caballo.date}}</td>
			<td><a href="{% url 'Caballos:gDetalles' caballo.id %}">Detalles</a></td>
			<td><a href="{% url 'Caballos:gActualizar' caballo.id %}">Actualizar</a></td>
			<td><a href="{% url 'Caballos:gEliminar' caballo.id %}">Eliminar</a></td>
		</tr>
	{% endfor %}
</table>
			<a class="btn btn-outline-dark" href="{% url 'Caballos:gCrear'%}">Nuevo</a>

{% endblock %}