{% extends 'index.html' %}

{% block container %}
<div class="row">
	<div class="col-md-3"></div>
<div class="col-md-3 mt-3">
	<table class="table">
		<tr>
			<td><b>Nombre</b></td>
			<td>{{tigre.nombre}}</td>
		</tr>
		<tr>
			<td><b>Raza</b></td>
			<td>{{tigre.raza}}</td>
		</tr>
		<tr>
			<td><b>Hogar</b></td>
			<td>{{tigre.hogar}}</td>
		</tr>
		<tr>
			<td><b>Habitad</b></td>
			<td>{{tigre.habitad}}</td>
		</tr>
		<tr>
			<td><b>Color</b></td>
			<td>{{tigre.color}}</td>
		</tr>
		<tr>
			<td><b>Edad</b></td>
			<td>{{tigre.edad}} años</td>
		</tr>
		<tr>
			<td><b>size</b></td>
			<td>{{tigre.size}} m</td>
		</tr>
		<tr>
			<td><b>Peso</b></td>
			<td>{{tigre.peso}} kg</td>
		</tr>
		<tr>
			<td><b>Registro</b></td>
			<td>{{tigre.date}}</td>
		</tr>		
		<tr>
			<td><b></b></td>
			<td><a href="{% url 'Triges:Lista'%}">Regresar</a></td>
		</tr>	
</table>
</div>	
</div>


{% endblock %}